body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
header{

}
#navbar{
    margin:24px 47px 0px 33px;
    /* padding-left: 47px;
    padding-right:47px;
    margin-top: 24px; */
    display: flex;
    justify-content: space-between;
}
.navLogo{
    margin-right: 34px;
    align-items: center;
}
.navLeft{
    color: #016B6F;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.navRight{
    display: inline;
    text-align: center
 }
.navButton{
    height: 44px;
    width: 116px;
    border: 1px solid #016B6F;
    border-radius: 8px;
    background-color:#016B6F;
    color: #fff;
    margin-right: 23px;
    
}
.navButton:hover{
    color: #016B6F;
    background-color:white;
}


/* banner */
#bannerImage{
    margin-top: -23px;
    background: url(images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 786px;
    padding-left: 126px;
    
}
#bannerTitle{
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    font-feature-settings: 'kern' off;
    color: #FFFFFF;
    padding-top: 166px;
}
#bannerDescription{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 77px;
}
#bannerButton{
    height:46.34px;
    width: 160.76px;
    color: #016B6F;
    background: #F9FFFF;
    box-shadow: 0px 0px 15px 4px rgba(1, 107, 111, 0.35);
    border-radius: 8px;
    border: 1px solid white;
}
#bannerButton:hover{
    background-color: #016B6F;
    color:white;
    border: 1px solid #016B6F;
}


/* footer */
#footerPart{
    background-color: #016B6F;
    color:white;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 56px 124px;
    font-weight: 700px;
    font-size: 18px;
}

.footerHr{
    width: 46px;
    height: 3px;
    border-radius: 2px;
    background: #FAFAFA;
    border-radius: 2px;
    margin-left: 0px;
}



